body {
    font-family: Arial, sans-serif;
    background-color: #a3cce4;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(94, 6, 82);
  }
  
  .calculator {
    margin: 0 auto;
    padding: 1rem;
    background-color: #e0e0e0; /* Lighter primary color */
    border-radius: 1rem;
  }
  
  
  .calculator .input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: right;
    background-color: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    font-size: 1.5rem;
  }
  
  .calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
  }
  
  .calculator .buttons .equal {
    grid-column: span 2;
  }
  
  .operator {
    color: #539246;
  }
  
  .calculator .buttons button {
    padding: 1rem;
    font-size: 1rem;
    background-color: #437094; /* Adjusted secondary color */
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s ease-in-out; /* Added transition for hover effect */
  }
  
  .calculator .buttons button:hover {
    background-color: #12263d; /* Hover effect color change */
  }
  
  .calculator .buttons button:active {
    background-color: #e22593; /* Active state color change (optional) */
  }
  
  /* Example media query for smaller screens (adjust as needed) */
  @media (max-width: 768px) {
    .calculator {
      width: 90%;
    }
  
    .calculator .buttons {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  